@model Identity.Quickstart.Account.RedirectViewModel

<h1>You are now being returned to the application.</h1>
<p>Once complete, you may close this tab</p>

<meta http-equiv="refresh" content="0;url=@Model.ReturnUrl" data-url="@Model.ReturnUrl">
<script src="~/js/signin-redirect.js"></script>
