@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <h2>Them values.</h2>
    <p>@Model.Values</p>
    
    <h2>Register.</h2>
    <p>@Model.RegisterStatusCode</p>
</div>